
body{
    margin: auto;
    background-color: brown;
    
}

.container {
  
   margin-top: 200px;
}

.col{
    page-break-after: auto;
}

#profile{
    border-radius: 25px;
}

#git{
    margin-top: 45px;
    align-content: center;
}